<header class="site-header">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand has-background-info has-text-white">
				{{title}}
		</div>
		<a [routerLink]="['/products']" class="navbar-item is-tab" routerLinkActive="is-active">Products</a>
		<a [routerLink]="['/cart']" class="navbar-item is-tab" routerLinkActive="is-active">Cart</a>
	</nav>
</header>
<main class="site-content">
	<router-outlet></router-outlet>
</main>
<footer class="site-footer footer is-light">
	<div class="container">
		<hr />
		<div class="content has-text-centered">
			<p>
				&copy; All rights reserved
			</p>
		</div>
	</div>
</footer>
